#p {
    background-color: #393939;
    font-family: Arial;
    font-size: 30px;
    color: white;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 2%;
}

#imp1 {
    display: inline-block;
}

#infp1 h1 {
    font-family: Arial;
    font-size: 30px;
}

#infp1 {
    width: 800px;
    float: right;
    padding-left: 10px;
}

table {
    text-align: left;
}

table, tr, th {
    border: none;
    border-collapse: collapse;
}
    table th {
        font-weight: normal;
    }
#Log {
    padding-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: Arial;
}
.Button {
    background-color: #393939;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.Button:hover {
    background-color: plum;
}
.TxtText {
    border-color:plum;
    padding: 10px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
}